body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f4c75,#3282b8);
    font-family: Arial, sans-serif;
}

.auth-box{
    background:#fff;
    padding:30px;
    width:320px;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
}

.auth-box h2{
    margin-bottom:20px;
}

.auth-box input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.auth-box button{
    width:100%;
    padding:10px;
    background:#0f4c75;
    color:#fff;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

.auth-box button:hover{
    background:#083358;
}

.link{
    margin-top:10px;
    font-size:14px;
}

.link a{
    color:#0f4c75;
    text-decoration:none;
    font-weight:bold;
}

#error{
    color:red;
    margin-top:10px;
    font-size:14px;
}