html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f4f7f7
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;600&family=Noto+Sans+Malayalam:wght@400;600&family=Roboto:wght@400;500&display=swap');


*{
    box-sizing: border-box;
}

.book-container{
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
}

@media (max-width:600px) {
    .book-container{
        padding: 10px;
    }
}
/* BOOK IMAGES */
.book-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    margin: 20px 0;
}

.book-images img {
    width: 120px;
    height: auto;
    border-radius: 6px;
}

.order-section{
    margin-top:20px;
}

.read-btn{
    background:#0d6efd;
    color:#fff;
    padding:10px 16px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-bottom:15px;
}

.order-btn{
    background:#28a745;
    color:#fff;
    padding:14px;
    width:100%;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-top:20px;
}

.order-btn:hover{
    background:#218838;
}

.order-section{
    text-align:center;
    margin:20px 0;
}
/* ഈ page-ൽ മാത്രം work ചെയ്യും */
.book-page .order-btn {
    font-size: 0;   /* Order Now text hide */
}

/* Book Now text show ചെയ്യുന്നു */
.book-page .order-btn::after {
    content: "Book Now";
    font-size: 16px;
    color: white;
}


.book-price{
    font-size:22px;
    font-weight:bold;
    color:#16f801;
    margin-bottom:10px;
}



.qty-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
    background-color: #f7f3f5;
    border-radius: 10px;
}

.qty-box button{
    width:35px;
    height:35px;
    font-size:20px;
    cursor:pointer;
    color: #110600;
    
}

.qty-box span{
    font-size:18px;
    width:30px;
    text-align:center;
}

.order-btn{
    background:#28a745;
    color:#fff;
    padding:10px 25px;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}

.order-btn:hover{
    background:#218838;
}
/* SAMPLE PDF */
.sample-title {
    margin-top: 30px;
    font-size: 18px;
}

.pdf-viewer {
    width: 100%;
    height: 400px;
    border: 1px solid #ee0707;
    margin-top: 10px;
}

/* BOOK PAGE LAYOUT */
.book-container {
    background-color: #e7ecee;
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0,1);
}

/* IMAGE */
.book-image-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.book-image-wrap img {
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* TITLE */
.book-title {
    font-family: 'Noto Naskh arabic' , 'Noto Sans Malayalam' serif;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #0f0f0f;
    
}


/* DESCRIPTION */
.book-desc {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    color: #181717d5;
    margin-bottom: 25px;
}

/* SAMPLE SECTION */
.sample-btn{
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: teal;
}
.sample-section {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.sample-section h3 {
    margin-bottom: 10px;
    color: #0b1c3d;
}

/* PDF */
.sample-section iframe {
    width: 100%;
    height: 420px;
    border: none;
    background: #fff;
}